<!-- Dashboard section -->
<section class='relative mb-8 px-6'>
  <div
    class='absolute w-3/4 h-0 left-1/4 top-1/2 rounded-3xl shadow-[0_0_150px_100px_rgba(0,99,198,0.15)]'
  >
  </div>
  <div
    class='flex justify-between items-center flex-col lg:flex-row gap-4 mx-auto max-w-md sm:max-w-4xl'
  >
    <div class='w-full'>
      <h2
        class='mt-5 leading-[1.15] text-white sm:leading-[1.15] text-3xl sm:text-5xl text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff] font-semibold text-left'
      >
        Access your documents
      </h2>
      <div class='pb-8 mt-6 text-lg text-neutral-300 border-b border-gray-700 text-left'>
        <p>A dashboard where you can see all your documents that you have created.</p>
      </div>
      <div class='mt-3 xl:max-h-16'>
        <a class='text-white' href='/dashboard'>
          <span class='font-medium'>Learn More</span>
          <span class='inline-block'>→</span>
        </a>
      </div>
    </div>
    <div class='w-full shadow-lg'>
      <div class='relative'>
        <div class='relative overflow-hidden rounded-3xl'>
          <div
            class='absolute bg-cover bg-gradient-to-r from-sky-500 to-indigo-500 inset-0 w-full h-full'
          >
          </div>
          <div class='p-8 sm:p-10 relative text-center'>
            <div class='flex overflow-hidden shadow-lg rounded-3xl'>
              <img
                src='/landing/dashboard.jpg'
                alt='Dashboard screenshot'
                loading='lazy'
                class='object-cover'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
