---
import { SignInButton } from '@components/SignInButton'
---

<header class='sticky top-0 px-5 md:px-20 backdrop-blur-md border-b border-gray-700 z-20'>
  <div class='flex h-16 items-center justify-between'>
    <span class='text-xl text-white'>boostgrammar.io</span>
    <!-- <SignInButton client:visible /> -->
  </div>
</header>
