<a
  href='https://github.com/d3vcloud/boostgrammar.io'
  aria-label='Go to Repository'
  target='_blank'
  rel='noreferrer'
  class='rounded-2xl py-2.5 px-0.5 text-white text-sm mb-5 transition hover:scale-110 bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'
>
  <span class='py-2 px-7 rounded-2xl bg-[#0d1117]'>Support me by giving a star ⭐️</span>
</a>
