---
import Layout from '@layouts/base.astro'
import Navbar from '@components/Navbar.astro'
import Tabs from '@components/Tabs.astro'
import DocumentCard from '@components/DocumentCard.astro'
import { getAllDocuments } from '@services/document'

const { data } = await getAllDocuments()
---

<Layout>
  <Navbar />
  <Tabs />
  <main class='min-h-screen bg-[#0d1117] px-5 md:px-12 pt-10'>
    <div
      class='absolute w-full h-0 top-1/2 rounded-3xl shadow-[0_0_150px_300px_rgba(0,99,198,0.15)]'
    >
    </div>

    <div class='grid gap-6 grid-cols-[repeat(auto-fill,minmax(320px,_1fr))]'>
      {data.map((document) => <DocumentCard {...document} />)}
    </div>
  </main>
</Layout>
