---
import Layout from '@layouts/base.astro'
import FooterLanding from '@components/landing/Footer.astro'
import HeaderLanding from '@components/landing/Header.astro'
import SupportLanding from '@components/landing/Support.astro'
import DashboardSection from '@components/landing/DashboardSection.astro'
import SynonymsSection from '@components/landing/SynonymsSection.astro'
import ResultsSection from '@components/landing/ResultsSection.astro'
---

<Layout>
  <div class='flex min-h-screen flex-col bg-[#0d1117]'>
    <HeaderLanding />
    <main>
      <section class='relative mt-14 px-6 text-center mb-28 lg:mb-36'>
        <div
          class='absolute w-3/4 h-0 left-1/4 top-1/2 rounded-3xl shadow-[0_0_150px_100px_rgba(0,99,198,0.15)]'
        >
        </div>
        <SupportLanding />
        <h1
          class='mx-auto max-w-md sm:max-w-4xl mt-5 text-4xl font-bold leading-[1.15] text-white sm:text-6xl sm:leading-[1.15]'
        >
          <span class='text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'>
            Boost
          </span> your grammar skills and write with confidence
        </h1>
        <p class='mx-auto max-w-md sm:max-w-xl mt-5 text-lg text-blue-100/70 sm:text-xl'>
          Have issues with your grammar skills? Let
          <span
            class='font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'
            >boostgrammar.io</span
          > help you out and say goodbye to your grammar confusions.
        </p>
        <div class='mx-auto mt-10 max-w-fit space-x-4'>
          <a
            class='bg-gradient-to-r from-[#7debf2] to-[#60a4ff] py-2.5 px-5 text-base font-semibold text-white shadow-lg rounded-md'
            href='/dashboard'
          >
            Get Started
          </a>
        </div>
      </section>
      <DashboardSection />
      <SynonymsSection />
      <ResultsSection />
    </main>
    <FooterLanding />
  </div>
</Layout>
