---
import Layout from '@layouts/base.astro'
import { SignInButton } from '@components/SignInButton'
---

<Layout>
  <div class='flex min-h-screen flex-col bg-[#0d1117]'>
    <header class='sticky top-0 px-5 md:px-20 backdrop-blur-md border-b border-gray-700 z-20'>
      <div class='flex h-16 items-center justify-between'>
        <span class='text-xl text-white'>boostgrammar.io</span>
        <SignInButton client:visible />
      </div>
    </header>
    <main>
      <section class='relative mt-14 mb-8 px-6 text-center'>
        <div
          class='absolute w-3/4 h-0 left-1/4 top-1/2 rounded-3xl shadow-[0_0_150px_100px_rgba(0,99,198,0.15)]'
        >
        </div>
        <a
          href='https://github.com/d3vcloud/boostgrammar.io'
          aria-label='Go to Repository'
          target='_blank'
          rel='noreferrer'
          class='rounded-2xl py-2.5 px-0.5 text-white text-sm mb-5 transition hover:scale-110 bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'
        >
          <span class='py-2 px-7 rounded-2xl bg-[#0d1117]'>Support me by giving a star ⭐️</span>
        </a>
        <h1
          class='mx-auto max-w-md sm:max-w-4xl mt-5 text-4xl font-bold leading-[1.15] text-white sm:text-6xl sm:leading-[1.15]'
        >
          <span class='text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'>
            Boost
          </span> your grammar skills and write with confidence
        </h1>
        <p class='mx-auto max-w-md sm:max-w-xl mt-5 text-lg text-blue-100/70 sm:text-xl'>
          Have issues with your grammar skills? Let
          <span
            class='font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'
            >boostgrammar.io</span
          > help you out and say goodbye to your grammar confusions.
        </p>
        <!-- <div class='mx-auto mt-10 max-w-fit space-x-4'>
            <a
              class='rounded-full border border-white bg-white py-2.5 px-5 text-base font-semibold text-black shadow-lg transition-all hover:bg-white/90'
              href='#getstarted'
            >
              Get Started
            </a>
          </div> -->
      </section>
      <section class='mx-auto mt-40 mb-10 max-w-md px-6 sm:max-w-5xl flex flex-col gap-1'>
        <h2
          class='font-display text-2xl font-bold leading-tight text-white sm:text-4xl sm:leading-tight'
        >
          Test your knowledge of
          <span
            class='font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#7debf2] to-[#60a4ff]'
            >grammar</span
          >
        </h2>
        <p class='mt-5 text-base text-blue-100/70 sm:text-xl'>
          Just type or paste your text and you'll see the results on the right side.
        </p>
        <div class='mt-4 flex md:flex-row flex-col gap-2'>
          <!-- Kan yu jelp me with mi gramar? -->
          <textarea
            id='content'
            rows='4'
            class='bg-[#0d1117] p-3 w-full text-lg sm:text-xl text-white rounded-lg border border-gray-700 placeholder-gray-500 resize-none focus:outline-none focus:border-gray-600 focus:ring-1 focus:ring-gray-600'
            placeholder='Write whatever you want 👀'></textarea>
          <div
            class='border border-gray-700 rounded-lg px-2 bg-[#0d1117] overflow-y-auto w-full h-96 sm:h-80'
          >
            <p
              class='p-3 font-medium dark:text-white text-lg sm:text-xl selection:text-black selection:bg-[#F1E740]'
            >
              Here we have the results 👀
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class='py-10 space-x-12 flex items-center justify-center border-t border-gray-700'>
        <a
          href='https://twitter.com/xavimonp'
          aria-label='Follow on twitter'
          target='_blank'
          rel='noreferrer'
          class='transition hover:scale-110'
        >
          <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 248 204' class='h-6 w-6 text-white'>
            <path
              fill='currentColor'
              d='M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z'
            ></path>
          </svg>
        </a>
        <a
          href='https://github.com/d3vcloud/boostgrammar.io'
          aria-label='Go to Repository'
          target='_blank'
          rel='noreferrer'
          class='transition hover:scale-110'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            fill='currentColor'
            viewBox='0 0 24 24'
            class='h-6 w-6 text-white'
          >
            <path
              d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'
            ></path>
          </svg>
        </a>
      </div>
    </footer>
  </div>
</Layout>
