---
import { AuthToolbar } from './auth/AuthToolBar'
---

<nav class='px-5 md:px-12 bg-gray-900'>
  <div class='flex h-16 items-center justify-between'>
    <a href='/' class='text-xl text-white'>boostgrammar.io</a>
    <AuthToolbar client:load />
  </div>
</nav>
