<nav class='px-5 md:px-12 bg-gray-900'>
  <div class='flex h-16 items-center justify-between'>
    <span class='text-xl text-white'>boostgrammar.io</span>
    <div class='flex flex-row justify-center items-center gap-6'>
      <div class='flex flex-row justify-center items-center gap-2'>
        <img
          src='https://unavatar.io/github/d3vcloud'
          alt='Avatar of xavimon'
          class='w-8 h-8 rounded-full'
        />
        <span class='text-white text-base font-semibold hidden sm:block'>Xavier Alfaro</span>
      </div>
      <button class='text-white'>
        <svg class='h-8 w-8' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'
          ><g
            fill='none'
            fill-rule='evenodd'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            transform='translate(4 3)'
            ><path d='m10.595 10.5 2.905-3-2.905-3'></path><path d='m13.5 7.5h-9'></path><path
              d='m10.5.5-8 .00224609c-1.1043501.00087167-1.9994384.89621131-2 2.00056153v9.99438478c0 1.1045695.8954305 2 2 2h8.0954792'
            ></path></g
          ></svg
        >
      </button>
    </div>
  </div>
</nav>
