<div class='pb-3 px-5 md:px-12 bg-gray-900 w-full overflow-x-auto'>
  <ul class='flex flex-wrap text-sm font-medium text-center'>
    <li class='mr-2'>
      <a
        href='#'
        class='inline-flex px-5 py-2 text-white bg-gradient-to-r from-[#11ccda] to-[#4490f2] rounded-lg active'
        aria-current='page'
      >
        <svg
          height='21'
          viewBox='0 0 21 21'
          width='21'
          xmlns='http://www.w3.org/2000/svg'
          class='w-5 h-5 mr-2 group-hover:text-gray-300'
        >
          <g
            fill='none'
            fill-rule='evenodd'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            transform='translate(2 5)'
            ><path
              d='m16.5 1.59090909c-1.3333333-.72727273-2.6666667-1.09090909-4-1.09090909s-2.66666667.36363636-4 1.09090909v9.90909091c1.33333333-.6666667 2.6666667-1 4-1s2.6666667.3333333 4 1z'
            ></path><path
              d='m14.5559265 2.78819322c-.6853088-.19212881-1.3706177-.28819322-2.0559265-.28819322s-1.3706177.09606441-2.0559265.28819322m4.111853 2c-.6853088-.19212881-1.3706177-.28819322-2.0559265-.28819322s-1.3706177.09606441-2.0559265.28819322m4.111853 2c-.6853088-.19212881-1.3706177-.28819322-2.0559265-.28819322s-1.3706177.09606441-2.0559265.28819322m4.111853 2c-.6853088-.19212881-1.3706177-.28819322-2.0559265-.28819322s-1.3706177.09606441-2.0559265.28819322m-3.88814699-6c-.68530883-.19212881-1.37061767-.28819322-2.05592651-.28819322s-1.37061768.09606441-2.05592651.28819322m4.11185302 2c-.68530883-.19212881-1.37061767-.28819322-2.05592651-.28819322s-1.37061768.09606441-2.05592651.28819322m4.11185302 2c-.68530883-.19212881-1.37061767-.28819322-2.05592651-.28819322s-1.37061768.09606441-2.05592651.28819322m4.11185302 2c-.68530883-.19212881-1.37061767-.28819322-2.05592651-.28819322s-1.37061768.09606441-2.05592651.28819322'
            ></path><path
              d='m8.5 1.59090909c-1.33333333-.72727273-2.66666667-1.09090909-4-1.09090909s-2.66666667.36363636-4 1.09090909v9.90909091c1.33333333-.6666667 2.66666667-1 4-1s2.66666667.3333333 4 1z'
            ></path></g
          ></svg
        >
        Grammar
      </a>
    </li>
    <li class='mr-2'>
      <a
        href='#'
        class='inline-flex px-5 py-2 text-white rounded-lg hover:bg-gray-800'
        aria-current='page'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 248 204'
          class='w-5 h-5 mr-2 group-hover:text-gray-300'
        >
          <path
            fill='currentColor'
            d='M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z'
          ></path>
        </svg>
        Twitter
      </a>
    </li>
  </ul>
</div>
