---
import '@fontsource/inter/400.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>boostgrammar.io - Boost your grammar skills and write with confidence</title>
    <meta
      name='description'
      content='Have issues with your grammar skills? Let boostgrammar.io help you out and say goodbye to your grammar confusions'
    />
    <meta name='theme-color' content='#0d1117' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <meta property='og:url' content='https://boostgrammar-io.pages.dev/' />
    <meta property='og:type' content='website' />
    <meta
      property='og:title'
      content='boostgrammar.io - Improve your grammar skills thanks to IA'
    />
    <meta
      property='og:description'
      content='Have issues with your grammar skills? Let boostgrammar.io help you out and say goodbye to your grammar confusions'
    />
    <meta property='og:image' content='https://boostgrammar-io.pages.dev/og.png' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@xavimonp' />
    <meta name='twitter:creator' content='@xavimonp' />
    <meta
      name='twitter:title'
      content='boostgrammar.io - Improve your grammar skills thanks to IA'
    />
    <meta
      name='twitter:description'
      content='Have issues with your grammar skills? Let boostgrammar.io help you out and say goodbye to your grammar confusions'
    />
    <style>
      body {
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-display: optional;
      }
    </style>
  </head>

  <body>
    <wc-toast position='top-center'></wc-toast>
    <slot />
  </body>
</html>
