<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>boostgrammar.io - Boost your grammar skills and write with confidence</title>
    <meta
      name='description'
      content='Have issues with your grammar skills? Let boostgrammar.io help you out and say goodbye to your grammar confusions'
    />
    <meta name='theme-color' content='#0d1117' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <!-- TODO: add more metatags for social media -->
  </head>
  <body>
    <slot />
  </body>
</html>
